@charset "UTF-8";

section {
    height: 450px;
    padding: 14px;
}

.main_c {
    grid-area: c;
    text-align: center;
}

select {
	font-size: 9pt; 
}

form {
	font-size: 10pt; 
}

h1 {
	font-size : 20pt;
	font-weight: bold;
}

.write-form {
    border: 1px solid rgba(196, 196, 196, 0.404);
    background-color: rgba(255, 250, 250, 0.918);
    border-radius: 5px;
    padding: 10px;
    width: 500px;
    display: inline-block;
    margin-top: 30px;
}

.btn_write, .btn_rewrite, .btn_list {
    margin-top: 10px;
    border: 1px solid;
    border-radius: 6px;
    padding: 5px 16px;
    font-weight: 500;
    width: 70px;
    height: 30px;
    vertical-align: middle;
    text-align: center;
    font-size: 9pt;
    font-weight: bold;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(81, 104, 230);
}

.btn_write:hover, .btn_rewrite:hover, .btn_list:hover {
    background-color: rgb(46, 64, 164);
}

.btn_write:focus, .btn_rewrite:focus, .btn_list:focus {
    box-shadow: 0 0 0 3px rgba(84, 146, 216, 0.596);
    outline: none;
}